<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Poslovi</title>
</head>
<body>

		<div class="sidebarMenu">
		<ul id="MainMenu">
			<li><a href="">Radnici</a></li>
			<li><a href="">Poslovi</a></li>
			<li><a href="">Mapa</a></li>
		    <li><a href="">Analistika</a></li>
		    <li><a href="">Podrška</a></li>
		</ul>

		<ul id="LogOutMenu">
			<li>
				<img class="WorkerImg" src="">
				<span id="WorkerName">Ime prezime</span>
				<span id="LogOut">Log out</span>
			</li>
		</ul>
	</div>

	<!--***************  END OF SIDE MENU  ***************-->

	
	<div class="TopBar">
			<button id="AddButton">+</button>
			<button id="Notification">some icon</button>
	</div>

	<!--***************  END OF TOP BAR  ***************-->
 
DODAT SVI POSLOVI
U PROCESU I NEOBAVLJENI

	<!--***************  END OF SWITCH BAR  ***************-->

<div class="JobCard">
	<div class="JobTitle">Zamjena osigurača</div>
	<hr>
	<div class="ContactPerson">Kontakt osoba: Jakov Babić</div>
	<div class="PersonsAdress">Adresa: Marka Marulića 51</div>
	<div class="WorkerStatusForThis">Security leader</div>
	<div class="IconRight"><img src="">Slika ikonica back</div>
	<div class="JobStatus">#crvena</div>
</div>


	
</body>
</html>