<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Selected job</title>
</head>
<body>

	<div class="sidebarMenu">
		<ul id="MainMenu">
			<li><a href="">Radnici</a></li>
			<li><a href="">Poslovi</a></li>
			<li><a href="">Mapa</a></li>
		    <li><a href="">Analistika</a></li>
		    <li><a href="">Podrška</a></li>
		</ul>

		<ul id="LogOutMenu">
			<li>
				<img class="WorkerImg" src="">
				<span id="WorkerName">Ime prezime</span>
				<span id="LogOut">Log out</span>
			</li>
		</ul>
	</div>

	<!--***************  END OF SIDE MENU  ***************-->
	
	<div class="TopBar">
			<button id="AddButton">+</button>
			<button id="Notification">some icon</button>
	</div>

	<!--***************  END OF TOP BAR  ***************-->

<div class="JobContainer">
	<div class="JobTitle">Zamjena osigurača</div>
	<hr>
	<div class="TimeAndDate">Sijeda, 12.05.2014 u 15:00</div>
	<div class="ContactPerson">Kontakt osoba: Jakov Babić</div>
	<div class="PersonsAdress">Adresa: Marka Marulića 51</div>
	<div class="ContactNumber">091 123 343</div>
	<div class="JobStatus">#crvena</div>

	<div class="LocationOnMap">Mapa gdje je ta adresa</div>

	<div class="JobMadeBy">
		<div class="JobWorker">
			<div class="WorkerImage">Slika covika</div>
			<div class="WorkerTitle">Security leader</div>
			<div class="WorkerName">Matej Rajčić</div>
		</div>
	</div>


	<div class="Print">Printer ikona</div>
	<div class="Share">Share icon</div>
</div>		

</body>
</html>